/* Basics */
	html			{overflow: -moz-scrollbars-vertical; overflow-y: scroll;}
	body			{background: #123456; font-family: sans-serif; color: #FFFFFF; font-size: 100%; line-height: 1.4em; text-shadow: 1px 2px 1px #123456;}
	body, html		{padding: 0; margin: 0;}
	h1, h2, h3, h4	{font-family: 'Ubuntu', sans-serif; font-weight: normal; text-shadow: 2px 3px 1px #123456;}
	/* Font-Sizes */
		h1	{font-size: 3em;	line-height: 1em;	letter-spacing: -0.06em;}
		h2	{font-size: 2em;	line-height: 1em;	letter-spacing: -0.06em;}
		h3	{font-size: 1.6em;	line-height: 1em;	letter-spacing: -0.06em;}
		h4	{font-size: 1.4em;	line-height: 1em;	letter-spacing: -0.06em;}
		h1 small,
		h2 small,
		h3 small,
		h4 small		{font-size: 50%; padding-left: 10px; font-style: italic; letter-spacing: 0;}
	/* Basics */
		h1, h2, h3, h4, p {margin: 0 0 20px 0;}
	/* Links */
		a		{text-decoration: underline; font-weight: bold; color: #FFFFFF;}
		a:hover,
		.active	{color: #F6B82F;}
	/* Abbreviations */
		abbr {border-bottom: 1px dashed #FFFFFF;}
	/* Blockquotes */
		blockquote {font-style: italic;}

/* Clearfix */
	.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}

/* Big Picture */
	.center	{padding: 1px 0; width: 720px; margin: 0 auto;}
	header	{background: #0F192A; text-shadow-color: #123456; padding: 20px 0; border-bottom: #123456 3px dotted;}
	nav		{background: #123456; text-shadow-color: #1B4E81; padding: 20px 0; border-bottom: #1B4E81 3px dotted;}
	section	{background: #1B4E81; text-shadow-color: #123456; padding: 20px 0; border-bottom: #123456 3px dotted;}
	footer	{background: #123456; text-shadow-color: #1B4E81; padding: 20px 0;}

/* Header */
	header {text-align: center;}
	header h1,
	header h2,
	header h3 {margin: 0;}
	header h1 {margin: 0 0 25px 0;}
	header h2 {margin: 0 0 30px 0;}
	/* Guru Graphic */
		header hgroup	{position: relative; z-index: 2;}
		#meditate		{position: relative; z-index: 1; float: right; margin: 0 75px 0 0; display: none;}
		#guru			{position: absolute; width: 72px; height: 132px; left: -24px; top: -165px; background: url('/assets/harry_balloon.png') no-repeat;}
		#shadow			{position: absolute; width: 27px; height: 6px; left: 0; top: 10px; background: #123456; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;}

/* Nav - http://matthewjamestaylor.com/blog/beautiful-css-centered-menus-no-hacks-full-cross-browser-support */
	nav	div	div		{float: left; width: 100%; overflow: hidden; position: relative;}
	nav ul			{clear: left; float: left; list-style: none; margin: 0; padding: 0; position: relative; left: 50%; text-align: center;}
	nav ul li		{display: block; float: left; list-style: none; margin: 0; padding: 0; position: relative; right: 50%;}
	nav ul li a,
	nav ul li span	{display: block; margin: 0 0 0 1px; padding: 3px 30px; text-decoration: none; line-height: 1.3em; font-weight: bold;}
	/* Sticky header */
		#stuck		{display: none; z-index: 100; position: fixed; top: 0; left: 0; right: 0;}

/* Footer */
	footer {text-align: center; font-style: italic;}

/* Tweak the syntax highlighter */
	pre					{padding: 5px; overflow: auto; background: #0F192A; font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace; font-size: 1em;}
	.syntaxhighlighter	{padding: 5px 0;}

/* FB: Comments */
	.fb-comments {margin: 0 20px; background-color: #FFFFFF;}