---
layout: default
title: "Blog Listing"
---
<!-- Title -->
<h1>Blog Listing</h1>
<!-- All articles... -->
<ul class="listing">
	{% for post in site.posts limit 4 %}
		<li>
			{% if post.github %}<a href="{{post.github}}" target="_blank" style="float: right;">GitHub Repo</a> {% endif %}
			{% if post.gist %}<a href="{{post.gist}}" target="_blank" style="float: right;">Github Gist</a> {% endif %}
			<a href="{{BASE_PATH}}{{post.url}}">{{post.title}}</a><br>
			<time datetime="2013-02-27">
				{{post.date | date: "%d %B, %Y"}}
			</time>
			<small>{{post.content | strip_html | truncatewords:10}}...</small>
		</li>
	{% endfor %}
</ul>