---
layout: default
title: "Blog Listing"
---
<!-- Title -->
<h1>Blog Listing</h1>
<!-- All articles... -->
<ul class="listing">
	{% for post in site.posts limit 4 %}
		<li>
			<a href="http://validator.w3.org/check?uri=http://oodavid.github.io{{post.url}}" target="_blank" style="float: right;">Validate</a>
			<a href="{{BASE_PATH}}{{post.url}}">{{post.title}}</a><br>
			<time datetime="2013-02-27">
				{{post.date | date: "%d %B, %Y"}}
			</time>
			{% if post.github %} - <a href="{{post.github}}" target="_blank">GitHub Repo</a> {% endif %}
			{% if post.gist %} - <a href="{{post.gist}}" target="_blank">Github Gist</a> {% endif %}
			<small>{{post.content | strip_html | truncatewords:10}}...</small>
		</li>
	{% endfor %}
</ul>