{% include header.html %}

	<!-- Index -->
	<p style="font-style: italic; text-align: center;">
		<a href="/blog/" title="All Articles">All Blog Articles</a>
	</p>
	<!-- Previous and Next posts... -->
	<p class="prevnext clearfix">
		{% if page.previous.url %}
			<span style="float: left;">Prev &laquo; <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">{{page.previous.title}}</a></span>
		{% endif %}
		{% if page.next.url %}
			<span style="float: right;">Next &raquo; <a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title}}</a></span>
		{% endif %}
	</p>

	<!-- Title & Content -->
	<h1>{{ page.title }}</h1>
	<p style="text-align: right">{{ page.date | date: "%d %b %Y" }}</p>
	{{ content }}
	<!-- Comments -->
	<div class="fb-comments" data-href="http://oodavid.com{{page.url}}" data-width="680" data-num-posts="50"></div>

{% include footer.html %}